@model Pizza;
@using Microsoft.AspNetCore.Http;
<div class="container bg-white " style="margin: 20px; padding: 20px; border-radius: 10px;">
        
        <form class="pizzaTitle" id="SelectedPizzaForm" asp-controller="SelectedPizza" asp-action="SelectedPizza" method="post">
            <div class="center">

                <div class="form-group row">
                    <div class="col-sm-3"><img class=" img" asp-append-version="true" src="@Model.PhotoPath" /></div>
                    <div class="col-sm-9">
                        <h3 class="col-sm-6 h3 pizzaTitle">@Model.PizzaName</h3>
                        <p class="h5 col-sm-10">@Model.Description</p>
                    </div>
                    

                </div>
                <div class="form-group row">
                    <label asp-for="PizzaSizeId" class="col-sm-2 col-form-label">Size</label>
                    <div class="col-sm-10">
                        <select onchange="document.getElementById('SelectedPizzaForm').submit()" asp-for="PizzaSizeId" class="custom-select mr-sm-2"
                                asp-items="Html.GetEnumSelectList<Size>()">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="PizzaBaseId" class="col-sm-2 col-form-label">Base</label>
                    <div class="col-sm-10">
                        <select onchange="document.getElementById('SelectedPizzaForm').submit()" asp-for="PizzaBaseId" asp-items="Html.GetEnumSelectList<BaseName>()" class="custom-select mr-sm-2 ">
                            
                        </select>

                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Toppings" class="col-sm-2 align-middle col-form-label"></label>
                    <div class="col-sm-10">
                        @for (int i = 0; i < Model.Toppings.Count; i++)
                        {

                            <input class="mr-2 " type="checkbox" asp-for="Toppings[i].Selected" onchange="document.getElementById('SelectedPizzaForm').submit()">
                            <label class="col-sm-2 align-text-top " asp-for="Toppings[i].Selected">@Model.Toppings[i].Name</label>
                            
                        }
                    </div>
                    <span asp-validation-for="Toppings" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="AddOns" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        @for (int i = 0; i < Model.AddOns.Count(); i++)
                        {
                            @if (Model.AddOns[i].AddOnName == "Stuff Crust" && Model.PizzaBaseId != (int)BaseName.FreshPanPizza)
                            {
                                <input class="mr-2 " type="checkbox" disabled asp-for="AddOns[i].Selected">
                            }
                            else
                            {
                                <input class="mr-2 " type="checkbox" asp-for="AddOns[i].Selected" onchange="document.getElementById('SelectedPizzaForm').submit()">
                            }
                            
                            <label class="col-sm-2 align-text-top " asp-for="AddOns[i].Selected">@Model.AddOns[i].AddOnName</label>
                            
                        }
                    </div>
                </div>



                <div class="form-group row">

                    <div class="col-sm-5 "><a class=" btn btn-primary" asp-action="HomePage" asp-controller="Home">Back</a></div>
                    <div class="col-sm-5">
                        @if (ViewBag.ActivateOrderButton ?? false && ViewData.ModelState.IsValid)
                        {
                            <button type="submit"  class="btn btn-success placeOrder" asp-action="PlaceOrder">Place Order</button>
                        }
                        else { 
                            <button type="button" disabled class="btn btn-success placeOrder" >Place Order</button>
                        }
                    </div>
                    <div class="col-sm-2 ">Total Cost : <span>&#163;</span>@Model.PizzaCost</div>

                </div>
            </div>
        </form>

        

    </div>
